* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, sans-serif;
	background-color: lightgreen;
}

#contenedorpadre {
	width: 99%;
	height: auto;
	position: absolute;
}

#menu {
	position: absolute;
	width: 18%;
	height: 100%;
	text-align: center;
}

#menu ul{
	list-style-type: none;
}

#menu ul li{
	position: relative;
	margin: 20px;
	padding: 15px;
	background-color: #06a364;
	border-radius: 20px;
}

#menu a {
	color: white;
	text-decoration: none;
}

#menu a:hover {
	color: #06a364;
	text-decoration: none;
}

#menu a:visited {
	color: darkgreen;
	text-decoration: none;
}

#menu img {
	width: 80%;
	margin-top: 20%;
}

#menu ul li ul {
	display: none;
}

#menu ul li:hover {
	cursor: pointer;
	background-color: white;
	border-left: 10px solid darkgreen;
	transition: all 0.3s ease-in-out;
}

#menu ul li:hover ul {
	display: block;
	width: 200px;
	left: 100%; /*obligatorio para que el menú aparezca al lado*/
	top: 0; /*obligatorio para que el menú aparezca al lado*/
	position: absolute;

}

#menu ul li:hover ul li {
	display: block;
	background-color: #06a364;
	color:white;
}


#menu ul li:hover ul li:hover{
	background-color: white;
	color:white;
}


.articulo{
	float: right;
	width: 80%;
	height: auto;
	border-bottom: 4px dashed white;
}

.articulo h1{
	text-align: center;
	color: #1a8b6d;
	font-style: bold;
	font-size: 2rem;
	margin-top: 10px;
}

.columna {
	column-count: 3;
	margin-top: 10px;
}

.leer {
	float: right;
	width: 100px;
	height: auto;
	margin: 10px 10px;
	padding: 10px;
	background-color: #06a364;
	text-align: center;
	color: white;
	border-radius: 30px;
}

.leer a:hover {
	color: lightgrey;
}

.leer a {
	color: white;
	text-decoration: none;
	background-color: #06a364;
}

.leer a:visited {
	color: grey;
}

.leer i {
	color:white;
	background-color: #06a364;
}

.imagen {
	width: 100%;
	height: auto;
	margin: 10px auto;
	padding: 10px auto;
}

.imagen img{
	width: 100%;
	height: auto;
	margin: 10px auto;
	padding: 10px auto;
}

.imagen figcaption{
	font-style: italic;
	font-size: .8rem;
	text-align: left;
}

.articulo2 {
	float: right;
	width: 80%;
	height: auto;
	border-bottom: 4px dashed white;
}

.articulo2 h2 {
	color: #1a8b6d;
	margin-top: 20px;
}

.articulo2 p {
	text-align: justify;
	margin: 20px;
}

.imagen2 {
	float: left;
	width: 30%;
	height: auto;
	margin: 10px 20px auto;
	padding: 10px auto;
}

.imagen2 img{
	width: 100%;
	height: auto;
	margin: 10px auto;
	padding: 10px auto;
}

.leer2 {
	float: left;
	width: 100px;
	height: auto;
	margin: 10px;
	padding: 10px;
	background-color: #06a364;
	text-align: center;
	color: white; 
	border-radius: 30px;
}

.leer2 a:hover {
	color: lightgrey;
}

.leer2 a {
	color: white;
	text-decoration: none;
	background-color: #06a364;
}

.leer2 a:visited {
	color: grey;
}

.leer2 i {
	color:white;
	background-color: #06a364;
}

.articulo3 {
	float: right;
	width: 80%;
	height: auto;
}

.articulo3 h2 {
	color: #1a8b6d;
	margin-top: 20px;
}

.articulo3 p {
	text-align: justify;
	margin: 20px;
}

.video {
	float: left;
	width: 30%;
	height: auto;
	margin: 10px 20px auto;
	padding: 10px auto;
}

.video iframe {
	width: 100%;
	height: auto;
	margin: 10px auto;
	padding: 10px auto;
}

#footer {
	width: 75%;
	padding: 15px;
	margin-left:20%;
	text-align: center;
	font-size: 2em;
}

.clear {clear:both;}

.animacion {
	position:relative;
	width: 30px;
	height: 30px;
	margin:10px;
	text-align: center;
	color:white;
	animation-name: move;
  	animation-duration: 3s;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
  	animation-timing-function: ease-in-out;
}

@keyframes move {
	0% {
		color: white;
		top:0px;
		left:0px;
	}

	100% {
		color: black;
		top:0px;
		left:1000px;

	}
}